/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border-width : 1px;
	border-color : green;
	border-style : solid;
	border-top-style : solid;
   padding : 10px;
}
#red{
	background-color: red;
	border-width : 1px;
	border-color : black;
	border-style : solid;
	 padding : 10px;
}
#green{
	background-color : green;
	border-width : 1px;
	border-color : yellow;
	border-style : solid;
	padding : 10px;
}
